@using CarBook.DtoLayer.DTOs.TestimonialDtos
@model List<TestimonialDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<br />

<h3>Referanslar</h3>

@{
    int count = 0;
}
<div class="container">
    <table class="table table-hover">
        <tr>
            <th>#</th>
            <th>Ad Soyad</th>
            <th>Ünvan</th>
            <th>Yorum</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <th>@count</th>
                <td><img src="@item.Image" style="height:50px;width:50px;border-radius:50%"   /> @item.Name</td>
                <td>@item.Title</td>
                <td>@item.Comment.Substring(0,10) ...</td>
                <td>
                    <button onclick="deleteTestimonial(@item.TestimonialId)" type="submit" class="btn btn-outline-danger">Sil</button>
                    <a asp-action="UpdateTestimonial" asp-route-id="@item.TestimonialId" class="btn btn-outline-info">Düzenle</a>

                </td>
            </tr>
        }
    </table>
    <br />
    <a asp-action="AddTestimonial" asp-controller="Reference" class="btn btn-outline-dark">Yeni Referans Ekle</a>
</div>

<script>
    function deleteTestimonial(id) {
        Swal.fire({

            title: 'Silmek istediğinize emin misiniz?',
            text: 'Bu öğeyi silerseniz geri alamazsınız!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sil',
            cancelButtonText: 'İptal'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/Admin/Reference/DeleteTestimonial?id=" + id; // Yönlendirilecek URL'yi buraya yazın
            }
        });
    }
</script>