@using CarBook.DtoLayer.DTOs.ServiceDtos
@model List<ServiceDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h3>Hizmetler</h3>
@{
    int count = 0;
}
<div class="container">
    <table class="table table-hover">
        <tr>
            <th>#</th>
            <th>Başlık</th>
            <th>Açıklama</th>
            <th>İkon</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <th>@count</th>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.Icon</td>
                <td>
                    <button onclick="deleteService(@item.ServiceId)" type="submit" class="btn btn-outline-danger">Sil</button>
                    <a asp-action="UpdateService" asp-route-id="@item.ServiceId" class="btn btn-outline-info">Düzenle</a>

                </td>
            </tr>
        }
    </table>
    <br />
    <a asp-action="AddService" asp-controller="Service" class="btn btn-outline-dark">Yeni Hizmet Ekle</a>
</div>

<script>
    function deleteService(id) {
        Swal.fire({

            title: 'Silmek istediğinize emin misiniz?',
            text: 'Bu öğeyi silerseniz geri alamazsınız!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sil',
            cancelButtonText: 'İptal'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/Admin/Service/DeleteService?id=" + id; // Yönlendirilecek URL'yi buraya yazın
            }
        });
    }
</script>
