@using CarBook.DtoLayer.DTOs.CarDetailDtos
@model List<CarDetailDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Araç Açıklamaları</h1>
@{
    int count = 0;
}
<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Araç</th>
        <th>Açıklama</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td>@item.Car.Brand.BrandName  @item.Car.CarName</td>
            <td>@item.Description.Substring(0,50) ... </td>
            <td>
                <a asp-action="DeleteCarDetail" asp-route-id="@item.CarDetailId" class="btn btn-outline-danger">Sil</a>
                <a asp-action="UpdateCarDetail" asp-route-id="@item.CarDetailId" class="btn btn-outline-info">Düzenle</a>
            </td>
        </tr>
    }
</table>
<br />
<a asp-action="AddCarDetail" asp-controller="CarDetail" class="btn btn-dark">Yeni Araç Açıklaması Ekle</a>

