@using CarBook.DtoLayer.DTOs.CarDetailDtos
@model List<CarDetailDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h3>Araç Açıklamaları</h3>
@{
    int count = 0;
}
<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Araç</th>
        <th>Açıklama</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td>@item.Car.Brand.BrandName  @item.Car.CarName</td>
            <td>@item.Description.Substring(0,50) ... </td>
            <td>
                <button onclick="deleteCarDetail(@item.CarDetailId)" type="submit" class="btn btn-outline-danger">Sil</button>
                <a asp-action="UpdateCarDetail" asp-route-id="@item.CarDetailId" class="btn btn-outline-info">Düzenle</a>
            </td>
        </tr>
    }
</table>
<br />
<a asp-action="AddCarDetail" asp-controller="CarDetail" class="btn btn-dark">Yeni Araç Açıklaması Ekle</a>

<script>
    function deleteCarDetail(id) {
        Swal.fire({

            title: 'Silmek istediğinize emin misiniz?',
            text: 'Bu öğeyi silerseniz geri alamazsınız!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sil',
            cancelButtonText: 'İptal'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/Admin/CarDetail/DeleteCarDetail?id=" + id; // Yönlendirilecek URL'yi buraya yazın
            }
        });
    }
</script>