@using CarBook.EntityLayer.Concrete;
@model List<Brand>
@{
    ViewData["Title"] = "GetBrandsSearchByName";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<h1>Markalar</h1>
@{
    int count = 0;
}

<div class="container">
    <p>
        <form method="post">
        <b>Lütfen Marka Adını Giriniz:</b> <input type="text" name="name" value="@ViewData["CurrentFilter"]" class="form-control" />
        <br />
        <button class="btn btn-dark">Getir</button>
        </form>
    </p>
</div>


<div class="container">



    <table class="table table-hover">
        <tr>
            <th>#</th>
            <th>Marka</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <th>@count</th>
                <td>@item.BrandName</td>
                <td>
                    <button onclick="deleteBrand(@item.BrandID)" type="submit" class="btn btn-outline-danger">Sil</button>
                    <a asp-action="UpdateBrand" asp-route-id="@item.BrandID" class="btn btn-outline-info">Düzenle</a>

                </td>
            </tr>
        }
    </table>
    <br />
    <a href="/Brand/AddBrand" class="btn btn-outline-dark">Yeni Marka Ekle</a>
</div>

<script>
    function deleteBrand(id) {
        Swal.fire({

            title: 'Silmek istediğinize emin misiniz?',
            text: 'Bu öğeyi silerseniz geri alamazsınız!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sil',
            cancelButtonText: 'İptal'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/Brand/DeleteBrand?id=" + id; // Yönlendirilecek URL'yi buraya yazın
            }
        });
    }
</script>

